<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Socialize: Contact</title>
  <link rel="stylesheet" href="/css/contact.css">
  <!-- References bootstrap library -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  
</head>
<body>

  <div class="topnav">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a class="active" href="#contact">Contact</a>
    <a href="/logout">Logout</a>
  </div>
  <header id="header">
  
  </header>
  <main class="main">
    <h1>Contact Us</h1>
    <div class="aboutBox">
      <div class="insideContactBoxDark">
<p>For more information about this application, please contact 
  spotifysocialize@gmail.com.
  The individuals who created this application are Joel Chacko, Minho Hyun,
  and Srisheel Gunnisetti.
  For further information, you can call 1-800-422-6367.
</p>
</div>
 </div>
  </main>
  <footer class="footer">
      Copyright (c) 2022. <strong>Socialize</strong> All Rights Reserved.
  </footer>
</body>

  