<!DOCTYPE html>
<html lang="en">
<head>
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Socialize: Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <!-- References bootstrap library -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="/js/login.js" type="module"></script>
</head>
<body>
  <section>
      <header id="header">
        SPOTIFY SOCIALIZE
      </header>
      <main id="main" class="main">
        <div id="wrapper">
          <a id="url" href="" class="btn btn-primary">LOGIN</a>
        </div>
      </main>
      <footer class="footer">
          Copyright (c) 2022. <strong>Socialize</strong> All Rights Reserved.
      </footer>
  </section>
</body>
</html>

<!-- <img src="/images/logo.png" alt="Login Logo" class="center"> -->