<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontend</title>
  <link rel="stylesheet" href="/css/home.css">
  <!-- References bootstrap library -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="/js/home.js" type="module"></script>
</head>
<body>
    <div class="topnav">
      <a class="active" id="home" href="#home">Home</a>
      <a id="about" href="/about">About</a>
      <a id="contact" href="/contact">Contact</a>
      <a id="logout" href="/logout">Logout</a>
    </div>
    <header id="header">

    </header>
    <main class="main">
      <div id="playlistOptions">
        <div id="playlist">
          <div id="users">

          </div>
          <div id="addedUsers">

          </div>
          <div id="generatedPlaylist">

          </div>
        </div>
        <div id="Generate">
          <input id="generateButton" type="button" value="Generate Your Playlist">
        </div>
      </div>
    </main>
    <footer class="footer">
        Copyright (c) 2022. <strong>Socialize</strong> All Rights Reserved.
    </footer>
</body>
</html>