<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Socialize: Login</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- References bootstrap library -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="/js/login.js" type="module"></script>
</head>
<body>
  <div class="imagePic">
    <img src="/images/spotifyIcon.png" alt="Spotify Logo">
  </div>
  <section>
    <h1 style="font-size:100px;" align="center">SPOTIFY SOCIALIZE</h1>
      <main class="main">
          <div id="formBackground">
              <div id="errorbox" class="hidden"></div>
              <form id="loginform">
                  <div class="loginDescription">
                    <p style="font-size:25px;">Tired of looking through your friends' playlists to see what songs you both like? Spotify Socialize will let you log in with your Spotify account and select a user to see what songs and artists you have in common. This is perfect for making party or group playlists, where everyone will be able to listen to songs that they like.
                    </p>
                  </div>
                  <a id="url" class="buttonCenter">
                    <input id="loginButton" type="button" value="Log In">
                  </a>
              </form>
          </div>
      </main>
      <div class="bottomContentLogin">
<p class="center">Please click the login button above to start Socializing!</p>
<img src="/images/musicapp.jpg" alt="Login Logo" class="center">
      </div>
      <footer class="footer">
          Copyright (c) 2022. <strong>Socialize</strong> All Rights Reserved.
      </footer>
  </section>
</body>
</html>